#header-page {
  background-image: url(./img/kitchen/kitchen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.action-pages{  
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  margin: 20px;
  color: var(--back-color);
  background-color: var(--main-color);
}

.action-pages * {
  flex-basis: 40%;
}