.header-page {
  background-image: url(./img/kitchen/kitchen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:top;
}

.action-pages {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin: 20px auto;
  color: var(--back-color);
  background-color: var(--main-color);
}

.action-pages div {
  width: 30%;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .action-pages .action-el {
    flex-basis: 100%;
    width: 100%;
  }
}
