:root {
  --main-color: rgb(199, 199, 199);
  --back-color: rgb(41, 41, 41);
}

* {
  box-sizing: border-box;
  font-family: Garamond, serif;
  letter-spacing: 2px;
  /* transition: 1s; */
}

body {
  background-color: var(--back-color);
  margin: auto;
  line-height: 25px;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}

#header-page {
  padding: 10px;
  background-image: url(./img/kitchen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 100%; */
  height: 100vh;
}

#header-page img {
  position: absolute;
  top: 10%;
  left: 8%;
}

#header-page div {
  color: var(--main-color);
  background-color: rgba(41, 41, 41, 0.438);
  border-radius: 0 0 20px 0;
  position: absolute;
  bottom: 30%;
  left: 5%;
  width: 40%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0.8;
  background-color: var(--back-color);
  padding: 10px 0;
  width: 700px;
}

.header-nav a {
  color: var(--main-color);
  margin: auto;
  padding: 10px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.header-nav a:hover {
  background: var(--main-color);
  color: var(--back-color);
}

#portfolio-section {
  color: var(--main-color);
  padding: 30px;
}

#portfolio-section div {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  order: 4;
}

#portfolio-section article {
  margin: 10px;
  border: 1px solid var(--main-color);
  width: 300px;
}

#portfolio-section article h3,
p {
  padding: 0 20px;
}

#services {
  color: var(--back-color);
  background-color: var(--main-color);
  padding: 30px;
}

#services .list-services {
  background-color: var(--back-color);
  color: var(--main-color);
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
}

#services .list-services li {
  margin: 10px;
}

#about-us {
  color: var(--main-color);
  padding: 30px;
  width: 100%;
}

#about-us article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  color: var(--back-color);
  background-color: var(--main-color);
}

#about-us article img {
  width: 500px;
}

#about-us article div {
  width: 400px;
  padding: 10px;
  margin: auto;
}

#contact {
  color: var(--main-color);
  /* background-color: var(--main-color); */
  background-image: url(./img/kitchen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px;
}

.form {
  margin: auto;
  padding: 20px;
}

.form .name,
.email,
.tel {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.form article {
  display: flex;
  justify-content: space-between;
  /* flex-flow: wrap; */
}

.form .gen-province {
  margin: 10px auto;
  width: 400px;
}

.form .province {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.form .interests {
  border: 1px solid var(--main-color);
  background-color: rgba(41, 41, 41, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}

.form .check {
  margin: 10px;
  padding: 10px;
  display: block;
}

.form textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
  height: 200px;
  resize: vertical;
}

.form .submit {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  color: var(--main-color);
  background-color: rgba(41, 41, 41, 0.5);
}

.form .submit:hover {
  color: var(--back-color);
  background-color: var(--main-color);
}

footer {
  margin: auto;
  padding: 10px;
  color: var(--main-color);
  background-color: var(--back-color);
}

footer img {
  margin: 10px;
}

footer .companies {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  #about-us article img {
    display: none;
  }

  .form article {
    display: block;
  }
  .form textarea {
    width: 300px;
  }
}
